<!--The content below is only a placeholder and can be replaced.-->

<!-- header -->
<div class="header">
  <div class="group-header">
    <div class="main-box">
      <div class="logo">
        <div class="box-img">
          <a href="#">
            <img src="src\assets\img\puc-logo.png" alt="puc">
          </a>
        </div>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">PARTNER</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- main container -->

<div class="main-body">
  <!-- banner home -->
  <div class="banner">
    <div class="box-img">
      <img src="src\assets\img\banner.png" alt="">
    </div>
    <div class="group-banner">
      <div class="main-banner">
        <div class="box">
          <div class="box-img-text">
            <div class="box-text">
              <h2>Your Next Job</h2>
              <h2>Is Here</h2>
              <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                </form>
              </div>
              <p>News:  In last week, we helps 100 of job PUC-CAREER employeers find the fit</p>
            </div>
          </div>
          <div class="box-img-text">
            <div class="box-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Job Announcment -->
  <div class="announment">
    <div class="group-announment">
      <h2>Job Announcment</h2>
      <div class="main-box">
        <div class="box">
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\comany-5.jpg" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">hospital</h2>
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">technology</h2>
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">technology</h2>
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-6.jpg" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">engineering</h2>
              </div>
            </div>
        </div>

        <div class="box">
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-7.jpg" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">accounting</h2>
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-7.jpg" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">technology</h2>
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-7.jpg" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">technology</h2>
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-8.jpg" alt="">
              </div>
              <div class="box-text">
                <h2 style="color:#333;">business</h2>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

  <!-- statistic -->
  <div class="statistic" id="counter">
    <div class="group-statistic">
      <div class="main-box">
        <div class="box">
          <div class="box-img-text">
            <div class="box-img">
              <img src="" alt="">
            </div>
            <div class="box-text">
              <h2 data-count="168" data-duration="3000" data-sign="+">1</h2>
              <h2>Job Available</h2>
            </div>
          </div>
          <div class="box-img-text">
            <div class="box-img">
              <img src="" alt="">
            </div>
            <div class="box-text">
              <h2>168</h2>
              <h2>Job Available</h2>
            </div>
          </div>
          <div class="box-img-text">
            <div class="box-img">
              <img src="" alt="">
            </div>
            <div class="box-text">
              <h2>168</h2>
              <h2>Job Available</h2>
            </div>
          </div>
          <div class="box-img-text">
            <div class="box-img">
              <img src="" alt="">
            </div>
            <div class="box-text">
              <h2>168</h2>
              <h2>Job Available</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- client partner -->
  <div class="partner">
    <div class="group-partner">
      <h2>Client Partner</h2>
      <div class="main-box">
        <div class="box">
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>
        </div>

        <div class="box">
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>

            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>
            <div class="box-img-text">
              <div class="box-img">
                <img src="src\assets\img\company-3.png" alt="">
              </div>
            </div>
        </div>


      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="footer">
    <div class="group-footer">
      <div class="main-box">
        <div class="box-footer">
          <div class="box-img">
            <img src="src\assets\img\puc-logo-footer.png" alt="">
          </div>
          <p>
            PUC-CAREERA is Cambodia’s leading human resources and recruitment company,
            specializing in providing human capital resources and assets. Launched in 2018
            by CAMHR INFORMATION (CAMBODIA) CO. LTD, we have grown from specializing in online
            recruitment to offline, sourcing employees of all standards for businesses and
            organizations across the country.
          </p>
        </div>
        <div class="box-dev-by">
          <div class="box-img-text">
            <p>© 2018. All rights reserved.</p>
            <p>develop by bix</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
